body {
    background-color: rgb(255, 250, 245);
    font-family: Montserrat;
    line-height: 196.19%;
    text-align: left;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    padding-left: 214px;
    padding-right: 64px;
    z-index: 99;
}

.header-list {
    width: 374px;
    height: 24px;
    display: flex;
    gap: 21px;
    flex-direction: row;
    align-items: center;
}

.header-list li a {
    color: rgb(36, 20, 0);
    font-size: 12px;
    font-weight: 400;
}

.header-list li a:hover {
    color: black;
}

.header-list li:nth-child(5) a {
    color: rgb(225, 106, 0);
    font-weight: 700;
    text-decoration-line: underline;
}

.header-list li:nth-child(3) a:hover {
    color: #000;
    text-decoration: none;
}

.section1 {
    padding-top: 207px;
    display: flex;
    justify-content: center;
    gap: 94px;
}

.showBook {
    width: 801px;
    height: 504px;
}

.search {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    color: rgb(36, 20, 0);
}

.inpSearch {
    margin-top: 44px;
    width: 433px;
    height: 69.52px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.inpSearch::placeholder {
        padding-left: 27px;
    font-family: Crimson Text;
    font-weight: 400;
    font-size: 23px;
    color: rgb(36, 20, 0);
}

.searchBtn {
    border-radius: 5px;
    width: 433px;
    height: 65px;
    margin-top: 44.48px;
    background-color: rgb(225, 106, 0);
    border: 1px solid rgb(225, 106, 0);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.showBook {
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 37px;
}

.aboutBook {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.bookName {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
}

.authorOfBook {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}

.information {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    width: 457px;
}

.socialMedia {

    text-align: center;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 25px;
}

.socialMediaPage {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 54px;
}

.instagram:hover {
    transform: scale(1.1);
}

.facebook:hover {
    transform: scale(1.1);
}

.twitter:hover {
    transform: scale(1.1);
}

.section5 {
    margin-top: 124px;
}

.footer {
    background-color: rgb(57, 31, 0);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 56px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 66px;

}

.information-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inform ul li:nth-child(1) {
    font-size: 18px;
}

.inf-4 ul li:nth-child(1) {
    font-size: 12px;
}

.inf-4 ul li:nth-child(2) {
    width: 136px;
    color: rgb(225, 106, 0);
    border: 1px solid rgb(225, 106, 0);
    padding: 2px 6px;

}

.ending {
    font-size: 12px;
    text-align: center;
}

.responsive-footer {
    display: none;
}

@media (max-width:680px) {

    .header {
        width: 100%;
        padding-left: 15px;
        padding-right: 14px;
        /* overflow-x: hidden; */
    }

    .header-list li a {
        font-size: 11px;
    }

    .main {
        margin-bottom: 58px;
        overflow-x: hidden;
    }

    .section-1 {
        flex-direction: column;
        gap: 100px;
    }

    .section-2 {
        margin-top: 130px;
    }

    .section-2 p {
        font-size: 18px;
        gap: 20px;
    }

    .social-container img {
        width: 37.54px;
        height: 37.54px;
    }

    .footer {
        display: none;
    }

    .responsive-footer {
        padding-top: 18px;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        color: rgb(242, 242, 242);
        background-color: rgb(57, 31, 0);
        flex-direction: column;
        align-items: center;
    }

    .responsive-footer img {
        width: 190px;
    }

    .responsive-footer ul {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 26px;
    }

    .responsive-paragraph {
        border-top: 1px solid rgba(255, 255, 255, 0.59);
    }

    .section1 {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    .showBook {
        flex-direction: column;
    }

    .information {
        width: 390px;
    }

    .searchBtn {
        width: 100%;
        margin: 0px auto;
    }
}